<!-- app/templates/home/index.html -->

{% extends "base.html" %} {% block title %}{{title}}{% endblock %} {% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message" style="background-color: #aec251;">
                    <h1>Sistema de Prevenci&oacute;n de Intrusos</h1>
                    <h3>Sistemas Operativos 2</h3>
                    <hr class="intro-divider">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}