{% import "bootstrap/utils.html" as utils %} {% extends "base.html" %} {% block title %}{{label}}{% endblock %} {% block body %}
<div class="content-section">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <h1 style="text-align:center;">{{label}}</h1>
                {% if lista_valores %}
                <hr class="intro-divider">
                <div class="center">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th width="30%"> Nombre Proceso </th>
                                <th width="15%"> Uso CPU </th>
                                <th width="15%"> Uso Memoria </th>
                                <th width="20%"> Tiempo M&aacute;x. Ejec. </th>
                                <th width="10%"> Editar </th>
                                <th width="10%"> Eliminar </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for valor in lista_valores %}
                            <tr>
                                <td> {{ valor.nombre_proceso }} </td>
                                <td> {{ valor.uso_cpu }} </td>
                                <td> {{ valor.uso_memoria }} </td>
                                <td> {{ valor.tiempo_maximo_ejecucion }} </td>
                                <td>
                                    <a href="{{ url_for('crud.edit_veralert', id=valor.id) }}">
                                        <i class="fa fa-pencil"></i> Editar
                                    </a>
                                </td>
                                <td>
                                    <a href="{{ url_for('crud.delete_veralert', id=valor.id) }}">
                                        <i class="fa fa-trash"></i> Eliminar
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div style="text-align: center">
                    {% else %}
                    <div style="text-align: center">
                        <h3> No se encontraron registros de {{label}}. </h3>
                        <hr class="intro-divider"> {% endif %}
                        <a href="{{ url_for('crud.add_veralert') }}" class="btn btn-default btn-lg">
                            <i class="fa fa-plus"></i> Agregar {{label}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}